<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>T&Cs</title>

  <!-- Bootstrap -->

  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fonts -->

  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../vendor/simple-line-icons/css/simple-line-icons.css">


  <!-- Stylesheets -->

  <link href="../../stylesheets/styleFiachra.css" rel="stylesheet">

</head>
<body>

    <div id="page-container">

  <!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

      <a class="navbar-brand js-scroll-trigger" href="../">

      <img class="logo" src="../images/logo.png"></a>
    


      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../#home">Login / Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../#contact">Contact</a>
          </li>

        </ul>

      

    </div>
  
  </nav>

  <section class="defaultContainer"  id="dash">

    <center>
    <div style="width: 800px">
    <h5 style="margin-top: 100px"><b>Last updated 09/04/2020</b><br><br>
The data we collect is essential for functionality of the site and application.  The data we collect is provided only by you and securely stored.  We may use your data for marketing purposes but will not share your data with any third-party organizations.
<br><br>By signing up for SportsAssist&copy; you agree to our processing and sharing of your private data between other users which are members of your teams.
The cookies used on our site are essentials and customisers.  They allow you to navigate our site, log-in, add content to the various sections of the dashboard and change your settings.  We also use security cookies which help identify and prevent security risks. We use these cookies to authenticate users and protect user data from unauthorized parties.  If you choose to opt out or block any of these cookies our website might not work as it should and any preferences you have may be lost. 
<br><br>You are encouraged to periodically review this Cookie Policy to stay informed of any updates.  You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Cookie Policy by your continued use of the site after the date such revised Cookie Policy is posted.
If you have questions or comments about this Cookie Policy, please feel free to contact us.<br><br>
 The SportsAssist &copy; Team.</h5>
</div></center>









  </section>

  


  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../../javascripts/script.js"></script>


  <footer>
    <div class="container">
      <p style="color: rgba(255, 255, 255, 0.3)">&copy; SportsAssist 2020 | All Rights Reserved | <a style="color: rgba(255, 255, 255, 0.3)" href="/terms">T&Cs</a> | Fiachra Healy, Seosamh Ó Roibín, Aleksander Kosnik, Shain Sutton</p>
      </div>
  </footer>

</div>

  </body>
</html>